<!DOCTYPE html>
<html>
    <head>
        <title>Web3 Testbed</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    </head>
    <body>
        
        <div class="container">
            <div id="reports">
                <h2>Reports <small>Alpha 1.0.1</small></h2>
                <ul style="list-style: none;">
                    <li style="border: 1px solid #ccc; padding: 10px; color: #000; font-weight: 800" v-for="report in ethReports">
                        <center><img v-bind:src="'https://maps.googleapis.com/maps/api/staticmap?center='
    +report.latlon+'&zoom=10&size=400x300&key=AIzaSyBybZ0KgytdPJ1euNw8DAsXAjecqRQYFW0'" /></center>
                    </li>
                </ul>
            </div>
                <hr>
                <div class="container" id="app">
                    

                  <p>
                    <label for="name">Longitude: <label>
                    <input type="text" name="longitude" id="longitude" v-model="this.alongitude">
                  </p>

                  <p>
                    <label for="name">Latitude: <label>
                    <input type="text" name="latitude" id="latitude" v-model="this.alatitude">
                  </p>

                  <p>
                      <button v-on:click="this.manual">Manual Entry</button>
                      <button v-on:click="this.GPS">GPS Entry</button>
                      <button v-on:click="this.register">Register</button>
                  </p>

                </div>
        </div>
        
        <!-- Le Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/web3@0.19.0/dist/web3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
                  
        <!-- Other Custom Javascript -->
        <script src="./js/scripts.js"></script>
        <script src="./js/abi.js"></script>
        
        <script>
            
                    if ("geolocation" in navigator) {
                      /* geolocation is available */
                        navigator.geolocation.getCurrentPosition(function(position) {
                            addReports.x = position.coords.latitude;
                            addReports.y = position.coords.longitude;
                        });
                    }
            
            
            // WEB3 INITIALIZATION
        
          window.addEventListener("load", function() {
                // Checking if Web3 has been injected by the browser (Mist/MetaMask)
                if (typeof web3 !== "undefined") {
                  // Use Mist/MetaMask's provider
                  window.web3 = new Web3(web3.currentProvider);
                } else {
                  console.log("No web3? You should consider trying MetaMask!");
                  // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
                  window.web3 = new Web3(
                    new Web3.providers.HttpProvider("https://localhost:8545")
                  );
                }
          })
            
                const contractAddress = "0xbacc5bc89341d32a8b8ecb21ccc5732a8fde690c"
                const contract = web3.eth.contract(abiArray).at(contractAddress);
                let reportEvent = contract.Report({}, {fromBlock: 0, toBlock: 'latest'})
                
                // POPULATE ethReports #reports Vue
                
                reportEvent.get((error, logs) => {
                    
                  // Logs Retrieved
                  var master = logs
                  for (i=0;i<=logs.length;i++){
                      
                      var lat = master[i].args._latitude.c[0]
                      var long = master[i].args._longitude.c[0]
                      var concater = lat/1000+","+long/1000
                      
                      
                      reports.ethReports.push({latitude: lat, longitude: long, latlon: concater})
                      
                  }
                })
            
      
            // VUE + WEB3 APPLICATION
            
      
            var reports = new Vue({
                el: '#reports',
                data: {
                    ethReports: [
                        // To be populated by event logs
                    ],
                }
            })

            
            var addReports = new Vue({
                el: '#app',
                data: {
                    alongitude:null,
                    alatitude:null,
                    x: 0,
                    y: 0,
                    streets: []
                },
                methods: {
                 GPS: function(){
                     if(addReports.x != null && addReports.y != null) {
                         
                          var arrX = String(addReports.x).split(".");
                                 var k = arrX[1].substring(0,4);
                         
                                 if (k.length >= 4){
                                    k = Math.round(k/10)
                                 }
                         
                                 modx = arrX[0] + k
                             
                                 var arrY = String(addReports.y).split(".");
                                 k = arrY[1].substring(0,4);
                         
                                 if (k.length >= 4){
                                    k = Math.round(k/10)
                                 }
                         
                                 mody = arrY[0] + k
                         
                                 var concater = modx/1000 + "," + mody/1000;
                         
                         contract.inputReport(mody, modx, {value: 0, gas: 90000}, function(err, result){
                             
                                 if(!err){
                                     console.log(result)
                                 }
                             
                                 reports.ethReports.push({latitude: modx, longitude: mody, latlon: concater});
                             
                             });
                     }
                 },
                 manual: function(){
                     if(alongitude != null && alatitude != null){
                         
                                 var arrX = String(alatitude).split(".");
                                 var k = arrX[1].substring(0,4);
                         
                                 if (k.length >= 4){
                                    k = Math.round(k/10)
                                 }
                         
                                 modx = arrX[0] + k
                             
                                 var arrY = String(alongitude).split(".");
                                 k = arrY[1].substring(0,4);
                         
                                 if (k.length >= 4){
                                    k = Math.round(k/10)
                                 }
                         
                                 mody = arrY[0] + k
                                 var concater = modx/1000 + "," + mody/1000;
                         
                         contract.inputReport(mody, modx, {value: 0, gas: 90000}, function(err, result){
                             
                             if(!err){
                                 console.log(result)
                             }
                             
                             reports.ethReports.push({latitude: modx, longitude: mody, latlon: concater});  
                         });
                         
                     }
                 },
                 register: function(){
                    // if(contract.isRegistered(web3.eth.accounts[0])){
                         contract.register(alongitude, alatitude, {value: 0, gas: 90000}, function(err, result){
                             if(!err){
                                 console.log(result)
                             }
                         });
                     //}
                     //else{
                     //    console.log("already registered")
                     //}
                 }
                }
            })
              
        </script>
    </body>
</html>
