<!DOCTYPE html>
<html>
    <head>
        <title>Web3 Testbed</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    </head>
    <body>
        
        <div class="container">
            <div id="reports">
                <h2>Reports <small>Alpha 0.0.1</small></h2>
                <ol>
                    <li v-for="report in ethReports">
                        {{ report.longitude }} | {{ report.latitude }}
                    </li>
                </ol>
            </div>
                <hr>
                <div class="container" id="app">
                    

                  <p>
                    <label for="name">Longitude: <label>
                    <input type="text" name="longitude" id="longitude" v-model="this.alongitude">
                  </p>

                  <p>
                    <label for="name">Latitude: <label>
                    <input type="text" name="latitude" id="latitude" v-model="this.alatitude">
                  </p>

                  <p>
                      <button v-on:click="this.manual">Manual Entry</button>
                      <button v-on:click="this.GPS">GPS Entry</button>
                      <button v-on:click="this.register">Register</button>
                  </p>

                </div>
        </div>
        
        <!-- Le Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/web3@0.19.0/dist/web3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
                  
        <!-- Other Custom Javascript -->
        <script src="./js/scripts.js"></script>
        <script src="./js/abi.js"></script>
        
        <script>
            
                    if ("geolocation" in navigator) {
                      /* geolocation is available */
                        navigator.geolocation.getCurrentPosition(function(position) {
                            addReports.x = position.coords.latitude
                            addReports.y = position.coords.longitude
                        });
                    }
            
            
            
            // WEB3 INITIALIZATION
        
          window.addEventListener("load", function() {
            // Checking if Web3 has been injected by the browser (Mist/MetaMask)
            if (typeof web3 !== "undefined") {
              // Use Mist/MetaMask's provider
              window.web3 = new Web3(web3.currentProvider);
            } else {
              console.log("No web3? You should consider trying MetaMask!");
              // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
              window.web3 = new Web3(
                new Web3.providers.HttpProvider("https://localhost:8545")
              );
            }
          })
            
      
            // VUE + WEB3 APPLICATION
            const contractAddress = "0x4618c1d94DBDe4FE2767A34F6F06796E76795670"
            const contract = web3.eth.contract(abiArray).at(contractAddress);
            
      
            var reports = new Vue({
                el: '#reports',
                data: {
                    ethReports: [
                        
                    ]   
                }
            })
            
            var web3UI = new Vue({
                el: '#web3ui',
                data: {
                    balance: 0
                },
                methods: {
                    
                }
            })
            
            var addReports = new Vue({
                el: '#app',
                data: {
                    alongitude:null,
                    alatitude:null,
                    x: 0,
                    y: 0,
                    streets: []
                },
                methods: {
                 GPS: function(){
                     reports.ethReports.push({longitude: addReports.x, latitude: addReports.y});
                 },
                 manual: function(){
                     if(alongitude != null && alatitude != null){
                         reports.ethReports.push({longitude: alongitude, latitude: alatitude});
                     }
                 },
                 register: function(){
                     contract.register(alongitude, alatitude, {value: 0, gas: 15000}, function(err, result){
                         if(!err){
                             console.log(result)
                         }
                     });
                 }
                }
            })
              
        </script>
    </body>
</html>
